/********************************
    HEADER
*********************************/
header {
    background-image: url("img/homeoffice.jpg");
}

/********************************
    BODY
*********************************/
.row {
    width: 50%;
    margin-left: 15rem;
}

h2 {
    font-weight: bold;
    text-transform: capatilize;
}

h2:hover {
    color: #007bff;
}

main {
    margin-left: 5rem;
}

hr {
    margin-left: 23%;
    margin-right: 10%;
}

#older-posts li {
    text-align: center;
    margin-left: 60%;
    padding: 1rem; 
    background-color: grey;
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    height: 3rem;
}

#older-posts:active {
    color: darkslategray;
}


/********************************
    FOOTER
*********************************/
#social-media-row {
    margin-left: 25%;
}

.social-media-icon {
    padding-top: 2rem;
}

#social-media-row p {
    text-align: center  ;
}